* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    min-height: 100vh;
    /*background-image: url(../images/berries-g5442f3a00_1920.jpg);*/
}
nav {
    width: 100%;
    display: flex;
    background-color: rgb(0, 32, 74);
    color: white;
    padding: 5px;
}
nav #logo {
    font-size: 1.5rem;
}
nav button {
    margin-left: auto;
}
nav img {
    width: 24px;
    margin-right: auto;
}
nav ul {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    text-align: center;
}
nav ul.hidden {
    margin: 0;
    padding: 0;
    display: none;
}
nav ul li {
    margin-top: 20%;
    font-size: 5rem;
    list-style-type: none;
}
nav a#contentLink {
    padding: 8px;
    border-radius: 8px;
}